.dialogs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    border-radius: 8px;
    width: 400px;
    flex-shrink: 0;
}

.dialogs a {
    display: grid;
    grid-template-areas: 'pic name''pic currentText';
    grid-template-columns: 1fr 4fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    border-left: 1px solid rgba(0, 0, 0, 0.9);
    border-right: 1px solid rgba(0, 0, 0, 0.9);
    /* margin-bottom: 10px; */
    text-decoration: none;



}

.dialogs a span {
    padding-left: 8px;
    transition: 0.2s;
}

.dialogs a img {
    grid-area: pic;
    width: 65px;
    border-radius: 50%;
}

.dialogs a .name {
    grid-area: name;
    font-size: 24px;
    vertical-align: top;
}

.dialogs a .currentText {
    grid-area: currentText;
}


.dialogs a:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.9);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dialogs .item span {
    color: black;
}

.dialogs .active span {
    color: goldenrod;
}